//
//  Development.xcconfig
//  Vacatio
//
//  Created by Stephen Davis on 9/20/21.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Base.xcconfig"

// App settings.
APP_ENVIRONMENT = development
APP_NAME = $(BASE_APP_NAME) (development)
PRODUCT_BUNDLE_IDENTIFIER = $(BASE_APP_BUNDLE_ID).development
APP_VERSION = $(BASE_APP_VERSION)

// Cocoapods environment setup.
#include "Pods/Target Support Files/Pods-Vacatio/Pods-Vacatio.debug-development.xcconfig"
#include "Pods/Target Support Files/Pods-Vacatio/Pods-Vacatio.release-development.xcconfig"
#include "Pods/Target Support Files/Pods-VacatioTests/Pods-VacatioTests.debug-development.xcconfig"
#include "Pods/Target Support Files/Pods-VacatioTests/Pods-VacatioTests.release-development.xcconfig"
#include "Pods/Target Support Files/Pods-Vacatio-VacatioUITests/Pods-Vacatio-VacatioUITests.debug-development.xcconfig"
#include "Pods/Target Support Files/Pods-Vacatio-VacatioUITests/Pods-Vacatio-VacatioUITests.release-development.xcconfig"

// Firebase settings.
GOOGLE_SERVICE_PLIST = $(BASE_GOOGLE_SERVICE_PLIST)-Development
GOOGLE_SERVICE_REVERSED_CLIENT_ID = com.googleusercontent.apps.1060173146963-6vunmro61npbgv868ftc5aavk423m5s0

// Firebase Emulator setup.
FIREBASE_EMULATOR_URL = localhost
FIREBASE_EMULATOR_FIRESTORE_PORT = 8080
FIREBASE_EMULATOR_AUTH_PORT = 9099
FIREBASE_EMULATOR_AUTH_PROJECT_ID = vacatio-development
