<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280200682694-fun4n2nv3hpejbli3b0gkpgc70b6aujg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280200682694-fun4n2nv3hpejbli3b0gkpgc70b6aujg</string>
	<key>API_KEY</key>
	<string>AIzaSyDDqoAWRrONZlULJtDh75NeKKrT961ZIhI</string>
	<key>GCM_SENDER_ID</key>
	<string>280200682694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.webdavis.Vacatio</string>
	<key>PROJECT_ID</key>
	<string>vacatio-production</string>
	<key>STORAGE_BUCKET</key>
	<string>vacatio-production.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280200682694:ios:ed1ce2254025946fa48bc7</string>
</dict>
</plist>